<page title="<%= @test %>" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.netbiscuits.com/schema/netbiscuits-tactile.xsd">
  <external type="css" file="assets/application.css"/>
  <external type="css" file="http://fonts.googleapis.com/css?family=Oswald"/>

  <external type="script" file="assets/application.js"/>

  <layout id="showcase" height="parent.height" width="parent.width" top="0" left="0">
    <layout id="title" width="400" height="58" top="80" left="40" zindex="100">
      <view id="title-view" class="text-view" width="parent.width" height="parent.height">
        <TEXT>  
          <richtext>[class="oswald-headline"][color="black"]MOODSELECTOR[/color][/class]</richtext>
        </TEXT>
      </view>
    </layout>
    <layout id="subtitle" width="400" height="36" top="142" left="40" zindex="100">
      <view id="subtitle-view" class="text-view" width="parent.width" height="parent.height">
        <TEXT>  
          <richtext>[class="oswald-subheadline"][color="black"]WHAT'S YOUR COLOR MOOD RIGHT NOW?[/color][/class]</richtext>
        </TEXT>
      </view>
    </layout>
    <layout id="hint" width="550" height="50" top="182" left="40" zindex="100">
      <view id="hint-view" class="text-view" width="parent.width" height="parent.height">
        <TEXT>  
          <richtext>[class="oswald-subheadline"][color="black"]HEY, SWIPE LEFT OR RIGHT TO MIX UP THE COLORS![br]OR TOUCH FLOW TO LET THE COLORS DO THEIR OWN THING[/color][/class]</richtext>
        </TEXT>
      </view>
    </layout>
    <layout id="info" width="76" height="36" top="262" left="42" zindex="100">
      <view class="text-view" width="parent.width" height="parent.height">
        <TEXT>  
          <richtext>[class="oswald-subheadline"][color="black"]INFO[/color][/class]</richtext>
        </TEXT>
      </view>
    </layout>
    <layout id="share" width="76" height="36" top="262" left="162" zindex="100">
      <view class="text-view" width="parent.width" height="parent.height">
        <TEXT>  
          <richtext>[class="oswald-subheadline"][color="black"]SHARE[/color][/class]</richtext>
        </TEXT>
      </view>
    </layout>
    <layout id="flow" width="76" height="36" top="262" left="282" zindex="100">
      <view class="text-view" width="parent.width" height="parent.height">
        <TEXT>  
          <richtext>[class="oswald-subheadline"][color="black"]FLOW[/color][/class]</richtext>
        </TEXT>
      </view>
    </layout>
    <layout id="info-area" width="portrait: parent.width*0.7, landscape: parent.width*0.3" height="portrait: parent.height*0.3, landscape: parent.height*0.4" top="portrait: parent.height*0.6, landscape: 80" left="portrait: 40, landscape: parent.width*0.6" zindex="100">
      <view class="text-view" id="info-view" width="parent.width" height="parent.height">
        <TEXT id="info-image" class="text-padding oswald-subheadline"></TEXT>
        <TEXT>  
          <richtext>[class="oswald-headline"][color="black"]INFO[/color][/class]</richtext>
        </TEXT>
        <TEXT id="info-title" class="oswald-subheadline text-padding"></TEXT>
        <TEXT id="info-author" class="oswald-subheadline text-padding"></TEXT>
        <TEXT id="info-hex" class="oswald-subheadline text-padding"></TEXT>
        <TEXT id="info-rating" class="oswald-subheadline text-padding"></TEXT>
      </view>
    </layout>
    <layout id="share-area" width="portrait: parent.width*0.7, landscape: parent.width*0.3" height="portrait: parent.height*0.3, landscape: parent.height*0.4" top="portrait: parent.height*0.6, landscape: 80" left="portrait: 40, landscape: parent.width*0.6" zindex="100">
      <multiview id="share-multiview" width="parent.width" height="parent.height" swipe="horizontal">
        <view id="share-view-intro" class="text-view" width="parent.width" height="parent.height" effect-type="slide">
          <TEXT class="share-image oswald-subheadline text-padding"></TEXT>
          <TEXT>
            <richtext>[class="oswald-headline"][color="black"]SHARE[/color][/class]</richtext>
            <richtext>[class="oswald-subheadline"][color="black"]SIGNAL YOUR PEEPS WHICH COLOR MOOD YOUR IN RIGHT NOW![br][br]SWIPE LEFT OR RIGHT TO SELECT YOUR SOCIAL OUTLET[/color][/class]</richtext>
          </TEXT>
        </view>
        <view id="share-view-facebook" class="text-view" width="parent.width" height="parent.height" effect-type="slide">
          <TEXT class="share-image oswald-subheadline text-padding"></TEXT>
          <TEXT>  
            <richtext>[class="oswald-headline"][color="black"]FACEBOOK[/color][/class]</richtext>
          </TEXT>  
          <TEXT id="fb-icon"></TEXT>
          <TEXT>  
            <richtext>[class="button oswald-headline"][color="black"]SEND COLOR[/color][/class]</richtext>
          </TEXT>
        </view>
        <view id="share-view-twitter" class="text-view" width="parent.width" height="parent.height" effect-type="slide">
          <TEXT class="share-image oswald-subheadline text-padding"></TEXT>
          <TEXT>  
            <richtext>[class="oswald-headline"][color="black"]TWITTER[/color][/class]</richtext>
          </TEXT>  
          <TEXT id="twitter-icon"></TEXT>
          <TEXT>  
            <richtext>[class="button oswald-headline"][color="black"]SEND COLOR[/color][/class]</richtext>
          </TEXT>
        </view>
        <view id="share-view-skype" class="text-view" width="parent.width" height="parent.height" effect-type="slide">
          <TEXT class="share-image oswald-subheadline text-padding"></TEXT>
          <TEXT>  
            <richtext>[class="oswald-headline"][color="black"]SKYPE[/color][/class]</richtext>
          </TEXT>  
          <TEXT id="skype-icon"></TEXT>
          <TEXT>  
            <richtext>[class="button oswald-headline"][color="black"]SEND COLOR[/color][/class]</richtext>
          </TEXT>
        </view>
      </multiview>
    </layout>
    <layout id="color-panel" width="parent.width" height="parent.height" top="0" left="0">
      <multiview id="presenter" width="parent.width" height="parent.height">
        <view id="color-panel-view" height="parent.height" width="parent.width" top="0" left="0" effect-type="fade" effect-duration="2000" effect-transition="easeInOut">
        </view>
        <view id="flow-panel-view" height="parent.height" width="parent.width" top="0" left="0" effect-type="expand" effect-duration="2000" effect-transition="easeOutIn">
          <view id="exit-flow" class="text-view" position="absolute" width="200" height="140" top="80" left="50" zindex="100">
            <TEXT>  
              <richtext>[class="oswald-headline"][color="black"]EXIT FLOW[/color][/class]</richtext>
            </TEXT>
          </view>
        </view>
      </multiview>
    </layout>
  </layout>
</page>
