/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
.showcase-view-0 {
  background-color: #04bf33;
}
.showcase-view-1 {
  background-color: #03a62c;
}
.showcase-view-2 {
  background-color: #038c25;
}
.showcase-view-3 {
  background-color: #02731e;
}
.showcase-view-4 {
  background-color: #d0f2d9;
}

.oswald-headline {
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}
.oswald-subheadline {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.headline {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 60px;
  font-weight: bold;
}
.subheadline {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.text-view {
  background-color: white;
}

.button {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.button-white-big {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: bold;
  border-color: white;
  border-width: 1px;
  border-style: solid;
  padding-left: 2px;
  padding-right: 2px;
}

.text-padding {
  /* padding: 10px 2px 2px 2px; */
  margin-left: 6px;

}
